@media screen and (max-width: 767px) {
  /* 5 */
  .wrap_designPhotos {
    grid-template-rows: 308px;
    height: auto;
  }
  .desctop_img_version {
    display: none;
  }
  .mobile_img_version {
    display: block;
    width: 100%;
  }
  .thirdDsgn_mobile {
    width: 100%;
  }

  /* spaces adaptive */

  .spaces {
    width: 534px;
  }

  .spaces-scroll {
    height: 3500px;
  }

  .small-title {
    font-size: 40px;
  }

  /* spaces adaptive */

  /* packages adaptive */

  .table-item_title {
    font-size: 40px;
  }

  #table-grey-text {
    font-size: 25px;
  }

  .table-item_text {
    font-size: 25px;
  }

  /* packages adaptive */
}

@media (min-width: 576px) and (max-width: 767px) {
  .firstScreen {
    width: 1307px;
  }

  .sixthScreen,
  .seventhScreen,
  .secondScreen,
  .thirdScreen,
  .fourthScreen {
    width: 534px;
  }

  /* 3 */

  /* 4 */
  .fourthScreen {
    height: auto;
  }
  .wrap_cinema {
    left: 0;
    width: 576px;
  }
  .wrap_cinema > img {
    width: 576px;
  }
  #for_lover {
    width: 302px;
  }
  .mobile_book {
    width: 534px;
  }
  #txt2 {
    top: -209px;
    width: 409px;
  }

  /* 5 */

  .fithScreen {
    width: 386px;
  }

  .fifthScreen-expanded {
    width: 534px;
    transition: all 0.5s;
  }

  /* 6 */
  .firstGradient {
    width: 534px;
  }
  .wrap_popcorn {
    width: 534px;
    height: 263px;
  }

  /* 7 */
  .seventhScreen {
    grid-template-rows: 200px 1fr;
  }

  /* 9 */
  .wrap_center_msg {
    top: -270px;
  }

  .wrap_auto > img {
    width: 287px;
  }
  .first_wrap_auto {
    left: -20px;
  }
  .second_wrap_auto {
    right: -20px;
  }

  #map {
    width: 768px;
  }

  .packages {
    width: 530px;
  }
}

@media screen and (max-width: 576px) {
  .firstScreen {
    width: 576px;
  }

  .secondScreen,
  .thirdScreen,
  .sixthScreen,
  .seventhScreen {
    width: 278px;
  }
  .wrap_allScreens {
    position: relative;
  }
  .wrap_logo > img {
    width: 200px;
  }
  .firstScreen {
    width: 1000px;
    height: auto;
    background: none;
    position: relative;
  }
  #mobile_fone {
    display: block;
    margin: 0;
    height: 870px;
    position: relative;
    top: -200px; 
  }
  .mobile_book > a {
    text-decoration: none;
    position: absolute;
    font-size: 25px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #bb6b75;
  }
  .wrap_secondScreen {
    margin-bottom: 100px;
  }
  .secondScreen {
    grid-template-columns: 1fr;
    position: relative;
    top: -220px;
  }
  #title1_spec {
    width: 163px;
  }
  .wrap_book > img {
    width: 800px;
    position: relative;
    top: -500px;
    height: auto;
    right: 100px;
  }
  .wrap_thirdScreen {
    position: relative;
  }
  #relax_txt-mobile {
    width: 276px;
    margin-block-start: 10px;
  }
  .title1,
  .title2 {
    font-size: 40px;
    line-height: 110%;
  }
  .txt1 {
    font-size: 25px;
    line-height: 160%;
  }
  .book_btn {
    font-size: 25px;
    line-height: 160%;
    width: 276px;
  }
  .each_imgs1 {
    width: 178px;
    height: 310px;
  }
  .wrap_fourthScreen {
    position: relative;
    margin-top: 0;
    top: 600px;
  }
  .fourthScreen {
    width: 320px;
  }
  .wrap_forYou {
    width: 276px;
    left: 20px;
  }
  .mobile_book {
    top: -185px;
    width: 276px;
    left: 20px;
  }
  .wrap_seats {
    top: 700px;
  }
  .wrap_fithScreen {
    top: 500px;
  }
  .thirdDsgn_mobile {
    width: 100%;
  }
  .wrap_popcorn > img {
    position: relative;
    top: -202px;
    width: 476px;
    left: -59px;
  }
  .firstGradient {
    width: 302px;
  }
  .fithScreen {
    width: 200px;
  }
  .fifthScreen-expanded {
    width: 278px;
  }
  .neon_txt {
    font-size: 40px;
    margin: 30px 0;
    position: relative;
  }
  .wrap_designPhotos {
    grid-template-rows: 230px;
    grid-gap: 7px;
  }
  .wrap_forYou {
    position: relative;
    width: 276px;
    top: -64px;
  }
  .wrap_sixthScreen {
    position: relative;
    top: 700px;
  }
  .sixthScreen {
    grid-gap: 30px;
  }
  .wrap_popcorn {
    width: 100%;
    height: 137px;
  }
  #cola {
    width: 160px;
  }
  #popcorn {
    right: -40px;
    bottom: -21px;
    width: 110%;
  }
  .js-popcorn-active #cola {
    left: -39px;
  }
  .js-popcorn-active #popcorn {
    transform: translateX(-5%);
  }
  .seventhScreen {
    width: 278px;
    grid-template-rows: 230px 1fr;
  }
  .wrap_hookah-mobile {
    height: 360px;
  }
  .wrap_ember {
    width: 750px;
    top: -25px;
    transform: translateX(50%);
  }
  #more_hookah {
    width: 250px;
    position: relative;
    top: 0;
  }
  .wrap_seventhScreen {
    position: relative;
    margin-top: 0;
    top: 820px;
    left: 0px;
  }
  .thirdScreen {
    display: grid;
    grid-template-rows: 331px 47px 89px 60px;
    position: relative;
    left: 0px;
  }
  #cinema_mobile_fone {
    display: block;
    position: relative;
    top: 45px;
  }
  #cinema_desktop_fone {
    display: none;
  }
  #for_lover {
    width: 200px;
  }
  .wrap_cinema > img {
    width: auto;
  }
  .wrap_cinema {
    position: relative;
    left: 15px;
    top: -151px;
  }
  .wrap_auto > img {
    width: 139px;
  }
  .wrap_ninthScreen {
    top: 0;
  }
  #welcome_txt,
  #welcome_txt_bellow,
  .ninthScreen,
  .wrap_center_msg {
    width: 278px;
  }
  .wrap_auto {
    top: 0;
  }
  .first_wrap_auto {
    left: -20px;
  }
  .second_wrap_auto {
    right: -20px;
  }
  .wrap_center_msg {
    z-index: 1;
    position: relative;
    top: -100px;
  }
  #wats_btn {
    grid-column: 1 / 2;
    margin: 0;
  }
  #tlgr_btn {
    position: relative;
    left: 0px;
    margin-left: 0px;
  }
  .msg_btn,
  .quest_btn {
    width: 276px;
  }
  .wrap_book_seat_btn,
  .tel_btn {
    grid-column: 1 / 2;
    width: 278px;
  }
  .tel_btn {
    display: none;
  }
  #mobile_tel {
    display: block;
  }
  #txt2 {
    width: 277px;
    position: relative;
    top: -155px;
    left: 20px;
  }
  .wrap_imgs1 {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    display: grid;
    margin-bottom: 41px;
    width: 278px;
  }
  #friends_txt {
    width: 278px;
  }
  #friends1 {
    height: fit-content;
    width: 100%;
  }
  .wrap_map {
    margin-bottom: 0;
    top: 0;
    margin-bottom: 100px;
  }

  /* Mobile footer 340px */
  .wrap_footer {
    top: 0;
  }

  .footer {
    grid-template-columns: 1fr 30px;
    padding-right: 20px;
    padding-left: 20px;
    width: 290px;
  }
  .wrap_about,
  .wrap_location,
  .wrap_book2 {
    grid-column: 1 / 2;
  }
  .wrap_about {
    grid-row: 2 / 3 !important;
    padding-left: 15px;
  }
  .wrap_location {
    grid-row: 3 / 4 !important;
    padding-left: 15px;
  }
  .wrap_book2 {
    grid-row: 4 / 5 !important;
    margin-block-end: 50px !important;
    left: 0;
  }
  .spec_grey2 {
    margin-block-start: 0 !important;
    margin-block-end: 0 !important;
  }
  #street {
    grid-row: 6 / 7 !important;
    margin-block-end: 15px !important;
  }
  .wrpa_insta {
    grid-row: 2 / 3 !important;
    text-align: right;
  }
  #year {
    grid-row: 7 / 8 !important;
  }
  .made_in {
    grid-row: 9 / 10 !important;
    margin-block-start: 80px !important;
  }
  .social_footer {
    left: -15px;
  }

  /* spaces adaptive */

  .spaces-scroll {
    top: 1000px;
    margin-top: 0;
  }

  .spaces {
    width: 280px;
  }

  /* spaces adaptive */

  /* packages adaptive */
  .packages {
    width: 385px;
  } 

  .table-item {
    padding: 20px;
  }

  .wrap_packages {
    margin-top: 1000px;
  }

  .table-item_title {
    font-size: 30px;
  }

  #table-grey-text {
    font-size: 20px;
  }

  .table-item_text {
    font-size: 20px;
  }

  /* packages adaptive */
}

@media screen and (max-width: 380px) {
  .packages {
    width: 100%;
    max-width: 280px;
  } 
  .packages-table {
    padding: 10px;
  }
  .table-item {
    padding: 10px;
  }

  .table-item p {
    margin-block-end: 0.5em;
  }

  .table-item_text {
    font-size: 16px;
  }
  .table-item_title {
    font-size: 25px;
  }
}

