@media (min-width: 2000px) and (max-width: 2600px) {
  .wrap_allScreens {
    justify-content: unset;
  }
}
@media (min-width: 992px) and (max-width: 2600px) {
  .firstScreen {
      width: 100%;
  }
  body {
        overflow-x: hidden;
  }
  .wrap_footer {
        top: -511px;
  }
  .wrap_logo > img {
    width: 200px;
  }
  .each_imgs1 {
    width: 490px;
}
  .wrap_book > img {
    width: 1557px;
    position: relative;
    top: -250px;
    left: 25px;
}
.book_seat_btn {
  width: 366px;
  height: 110px;
}
#tlgr_btn {
  left: 202px;
}
.first_wrap_auto {
    left: 399px;
}
.wrap_center_msg {
  position: relative;
  top: -295px;
}
.wrap_ninthScreen {
      top: -118px;
}
.ninthScreen {
      width: 2078px;
}
.second_wrap_auto {
    left: -181px;
}
.msg_btn {
  position: relative;
  left: 202px;
  grid-column: 1 / 3;
  margin-bottom: 0px;
  width: 366px;
  height: 110px;
}
.tel_btn {
  margin-top: 20px;
}
.quest_btn {
  width: 300px;
  left: 251px;
  line-height: 150%;
  position: relative;
}
.wrap_map {
    width: 100%;
    height: 870px;
    position: relative;
    top: -417px;
}
.wrap_auto > img {
    width: 422px;
}
.wrap_seventhScreen {
    margin-top: 0;
    top: -79px;
}
.wrap_sixthScreen {
    position: relative;
    top: -400px;
}
.firstGradient {
  width: 810px;
}
.wrap_popcorn {
  margin: 0;
}
.wrap_cinema > img {
    width: 1733px;
    left: 118px;
    position: relative;
    top: -37px;
}
.wrap_fithScreen {
      top: -480px;
}
.wrap_fourthScreen {
  margin-top: 0px;
  position: relative;
  top: -331px;
}
#txt2 {
    top: -467px;
}
#friends_txt {
    margin-top: 0px;
    width: 910px;
    position: relative;
    top: -11px;
}
#friends1 {
  position: relative;
  top: -17px;
}
.wrap_allScreens {
    /* height: 9111px; */
}

.title1, .title2 {
  font-size: 100px;
}
.secondScreen {
      top: -308px;
}
.book_btn {
    font-size: 25px;
    width: 368px;
    height: 110px;
    margin-top: 0px;
    top: -9px;
}
.txt1 {
  font-size: 25px;
}
#relax_txt {
    height: 100px;
    position: relative;
    top: 1052px;
    width: 379px;
    left: 138px;
}
.wrap_secondScreen {
  margin-top: 223px;
}
.wrap_thirdScreen {
  position: relative;
  bottom: 420px;
}
}
@media (min-width: 992px) and (max-width: 1290px) {
  body {
      -moz-transform: scale(0.78, 0.78); /* Moz-browsers */
      zoom: 0.78; /* Other non-webkit browsers */
      zoom: 78%; /* Webkit browsers */
  }
  .wrap_secondScreen {
    margin-top: 223px;
  }
}
